@charset "utf-8";
/* CSS Document */
.blog .links{text-align:center;}
.blog .links a{display:inline-block; padding-bottom:18px; font-family: 'Montserrat'; font-weight:900; color:#647c0f; font-size:14px; text-transform:uppercase; margin:10px;}
.blog .active{color:#c84719 !important;}
.posts{font-size:0px;}
.posts .post{width:20%; display:inline-block; font-size:12px; color:#fff; padding:10px; cursor:pointer; float: left;}
.posts .post .img{height:150px; width:100%; position:relative; overflow:hidden;}
.posts .post .img img{height:100%; width:auto; min-width:100%;}
.posts .post .box{background:#7c9d00; padding:15px; padding-bottom:40px; min-height:230px; position:relative;}
.posts .post .box .title{font-family: 'Montserrat Alternates'; font-weight:900; font-size:18px; margin-bottom:5px;}
.posts .post .box .title span{display:none;}
.posts .post .box:after{display:block; content:'leia mais'; text-transform:uppercase; text-align:center; padding-bottom:18px;  background:url(../img/blog-bottom-menu.png) bottom no-repeat; font-family: 'Montserrat Alternates'; font-weight:900; position:absolute; bottom:10px; left:10px; right:10px;}
.posts .post:nth-child(1){width:50%; height:250px; position:relative; display:inline-block;}
.posts .post:nth-child(1) .content{display:table; width:100%; height:100%;}
.posts .post:nth-child(1) .img{position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
.posts .post:nth-child(1) .img img{height:auto; width:100%; min-height:100%;}
.posts .post:nth-child(1) .box{background:rgba(0,0,0,0.60); display:table-cell; vertical-align:middle; text-align:center;}
.posts .post:nth-child(1) .box:after{display:none;}
.posts .post:nth-child(1) .box .title{text-transform:uppercase; border-bottom:1px #fff solid; padding-bottom:10px; display:inline-block; max-width:300px;}
.posts .post:nth-child(1) .box .title span{display:block; text-align:center; font-weight:bold; text-transform:uppercase; font-size:16px; margin-bottom:10px;}
.posts .post:nth-child(1) .box .title span:after{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-left:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(1) .box .title span:before{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(1) .box .text{display:none;}
.posts .post:nth-child(2){width:50%; height:250px; position:relative; display:inline-block;}
.posts .post:nth-child(2) .content{display:table; width:100%; height:100%;}
.posts .post:nth-child(2) .img{position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
.posts .post:nth-child(2) .img img{height:auto; width:100%; min-height:100%;}
.posts .post:nth-child(2) .box{background:rgba(0,0,0,0.60); display:table-cell; vertical-align:middle; text-align:center;}
.posts .post:nth-child(2) .box:after{display:none;}
.posts .post:nth-child(2) .box .title{text-transform:uppercase; border-bottom:1px #fff solid; padding-bottom:10px; display:inline-block; max-width:300px;}
.posts .post:nth-child(2) .box .title span{display:block; text-align:center; font-weight:bold; text-transform:uppercase; font-size:16px; margin-bottom:10px;}
.posts .post:nth-child(2) .box .title span:after{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-left:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(2) .box .title span:before{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(2) .box .text{display:none;}
.posts .post:nth-child(3){width:33.33%; height:250px; position:relative; display:inline-block;}
.posts .post:nth-child(3) .content{display:table; width:100%; height:100%;}
.posts .post:nth-child(3) .img{position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
.posts .post:nth-child(3) .img img{height:auto; width:100%; min-height:100%;}
.posts .post:nth-child(3) .box{background:rgba(0,0,0,0.60); display:table-cell; vertical-align:middle; text-align:center;}
.posts .post:nth-child(3) .box:after{display:none;}
.posts .post:nth-child(3) .box .title{text-transform:uppercase; border-bottom:1px #fff solid; padding-bottom:10px; display:inline-block; max-width:250px;}
.posts .post:nth-child(3) .box .title span{display:block; text-align:center; font-weight:bold; text-transform:uppercase; font-size:16px; margin-bottom:10px;}
.posts .post:nth-child(3) .box .title span:after{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-left:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(3) .box .title span:before{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(3) .box .text{display:none;}
.posts .post:nth-child(4){width:33.33%; height:250px; position:relative; display:inline-block;}
.posts .post:nth-child(4) .content{display:table; width:100%; height:100%;}
.posts .post:nth-child(4) .img{position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
.posts .post:nth-child(4) .img img{height:auto; width:100%; min-height:100%;}
.posts .post:nth-child(4) .box{background:rgba(0,0,0,0.60); display:table-cell; vertical-align:middle; text-align:center;}
.posts .post:nth-child(4) .box:after{display:none;}
.posts .post:nth-child(4) .box .title{text-transform:uppercase; border-bottom:1px #fff solid; padding-bottom:10px; display:inline-block; max-width:250px;}
.posts .post:nth-child(4) .box .title span{display:block; text-align:center; font-weight:bold; text-transform:uppercase; font-size:16px; margin-bottom:10px;}
.posts .post:nth-child(4) .box .title span:after{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-left:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(4) .box .title span:before{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(4) .box .text{display:none;}
.lateral{background:#5d7600; padding:15px; color:#fff;}
.lateral .title{font-family: 'Montserrat Alternates'; font-weight:bold; font-size:27px; border-bottom:1px #fff solid; padding-bottom:5px; margin-bottom:10px; text-align:left;}
.post-link{display:block; text-align:left; min-height:25px; position:relative; padding-right:30px; margin-bottom:10px; color: #fff;}
.post-link:hover {color: #e7e74d;}
.post-link:after{content:''; display:inline-block; background:url(../img/blog-circle.png); width:23px; height:23px; position:absolute; right:0px; top:0px;}
.content-post{background:#eceebf; color:#5d7600;}
.content-post .category{padding:10px 40px; color:#fff; font-family: 'Montserrat Alternates'; font-weight:bold; font-size:20px; background:#92b21c;}
.content-post .content{padding:40px;}
.content-post .title{font-family: 'Montserrat Alternates'; font-weight:900; font-size:40px; line-height:40px; border-bottom:1px solid #5d7600; padding-bottom:10px;}
.content-post .data{text-align:right; color:#384507; font-weight:bold;}
.content-post .coment{background:#fff; padding:40px;}
.addtoany_header{float:left !important;}
.newsletter{font-size:18px; color:#405100;}
.newsletter .es_textbox{width:calc(100% - 55px); display:inline-block !important;}
.newsletter	input{width:100%; border:none; padding:10px; height:50px; display:inline-block; vertical-align:middle;}
.newsletter .es_textbox_button{display:inline-block !important; margin-left:-4px; width:50px; height:50px; background:url(../img/btn-check-news.png) #4A6708 no-repeat center; border:none; transition::0.5s ease-in-out; vertical-align:middle; font-size:0px;}
.newsletter .es_button{display:inline-block;}
.newsletter button:hover{background-color:#374308;}
.es_lablebox{display:none;}
/*RESPONSIVE*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.posts .post{width:33.33%;}
	.posts .post:nth-child(3){width:50%;}
	.posts .post:nth-child(4){width:50%;}
}
@media only screen and (min-width: 993px){
.posts .post:nth-child(5){width:33.33%; height:250px; position:relative; display:inline-block;}
.posts .post:nth-child(5) .content{display:table; width:100%; height:100%;}
.posts .post:nth-child(5) .img{position:absolute; top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
.posts .post:nth-child(5) .img img{height:auto; width:100%; min-height:100%;}
.posts .post:nth-child(5) .box{background:rgba(0,0,0,0.60); display:table-cell; vertical-align:middle; text-align:center;}
.posts .post:nth-child(5) .box:after{display:none;}
.posts .post:nth-child(5) .box .title{text-transform:uppercase; border-bottom:1px #fff solid; padding-bottom:10px; display:inline-block; max-width:250px;}
.posts .post:nth-child(5) .box .title span{display:block; text-align:center; font-weight:bold; text-transform:uppercase; font-size:16px; margin-bottom:10px;}
.posts .post:nth-child(5) .box .title span:after{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-left:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(5) .box .title span:before{content:'\f111'; font-family:'FontAwesome'; color:#fff; font-size:6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.posts .post:nth-child(5) .box .text{display:none;}
}
@media only screen and (max-width: 760px){
	.content-post .title{font-size:30px; line-height:30px;}
	.posts .post{width:100% !important; }
	.posts .post .img img{height:auto; width:100%; min-height:100%;}
	.posts .post .img{height:250px;}
}
@media only screen and (max-width: 400px){


}