@charset "utf-8";
/* CSS Document */

.fama-nas-escolas .cabecalho img{vertical-align:middle;}
.fama-nas-escolas .cabecalho .title{padding-top:30px; padding-bottom:20px;}
.fama-nas-escolas .boxs{padding:40px; text-align:center; background:#ecedc1; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; position:relative; color:#383a0f;}
.fama-nas-escolas .boxs span{font-family: 'BebasNeueBold'; font-size:30px; -ms-transform: rotate(-1deg); -webkit-transform: rotate(-1deg); transform: rotate(-1deg); display:block;}
.fama-nas-escolas .cabecalho .box{padding:0px; padding-left:300px; text-align:center; background:#ecedc1 url(../img/background-fama-nas-escolas.jpg) left no-repeat; min-height:140px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; position:relative; color:#383a0f;}
.fama-nas-escolas .cabecalho .box span{ color:#414141; margin:auto; padding-top:40px; max-width:600px; font-size:14px; display:block; text-align:left;}
.fama-nas-escolas .text{font-size:13px; color:#42441d;}
.fama-nas-escolas .text .inner-text{padding-left:80px;  position:relative; padding-right:30px;}
.fama-nas-escolas .footer-text{font-family: 'BebasNeueBold'; color:#5d7405; margin-top:40px; padding-left:40px; padding-right:40px; text-align:center; font-size:29px; display:block; line-height:30px}
.fama-nas-escolas .box-datas{padding:40px; text-align:center; position:relative; color:#454711;}
.fama-nas-escolas .box-datas .title{position:absolute; left:0px; top:-10px; right:0px; background:#eb4145; font-family: 'BebasNeueBold'; text-transform:uppercase; color:#fff;}
.fama-nas-escolas .box-datas .node{position:relative; font-family: 'Montserrat Black', arial; text-transform:uppercase; font-size:14px; padding-left:120px; padding-top:20px; color:#567000; text-align:center;}
.fama-nas-escolas .box-datas .node b{font-family: 'Montserrat Black', arial;}
.fama-nas-escolas .box-datas .node img{width:110px; height:110px; border-radius:138px; height:auto; position:absolute; left:0px; top:0px;}
.fama-nas-escolas .box-datas .node span{font-size:24px; color:#3f5200; font-family: 'Montserrat Black', arial; display:block;  display:block;}
.fama-nas-escolas .arrow{width:39px; height:35px; background:url(../img/arrow.png); position:absolute; top:calc(50% - 15px);}
.fama-nas-escolas .arrow-go{right:-50px;}
.fama-nas-escolas .arrow-back{left:-50px;}
.fama-nas-escolas .chart-fama{font-family: 'BebasNeueBold'; font-size:30px; color:#414141; background-color:#d5e012; padding:27px; text-align:center; line-height:30px;}
/*RESPONSIVE*/
@media (max-width: 1200px) {
	.fama-nas-escolas .cabecalho .box span{max-width:500px; }
}
@media (max-width: 992px) {
	.fama-nas-escolas .cabecalho .title{padding-top:0px; padding-bottom:20px; text-align:center !important;}
	.fama-nas-escolas .cabecalho .box{padding:20px; text-align:center; background:#ecedc1; min-height:inherit; margin-bottom:-20px;}
	.fama-nas-escolas .cabecalho .box span{padding-top:0px;}
	.fama-nas-escolas .text{text-align:center;}
	.fama-nas-escolas .text .inner-text{padding-left:20px; padding-right:20px;}
	
}
@media only screen and (max-width: 760px){
	.fama-nas-escolas .footer-text{padding-left:20px; padding-right:20px; font-size:24px;}

}
@media only screen and (max-width: 400px){

}